*{
    margin: 0;
    padding: 0;
}
body{
background-color: #1B1A55;



}
.star{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#ex{
    
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
#headline{
  margin-top: 80px;
  margin-left: 130px;
  text-align: left;
    height: 60px;
    width: 1200px;
    border-radius: 10px;
    padding-top: 6px;

    
    background-color: #535C91;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
#sun{
    float: right;
    height: 40px;
    width: 40px;
    background-color: #9290C3;
    margin-right: 20px;
    margin-top: 8px;
    padding: 2px;
    border-radius: 8px;
   
}
/*------------------------------------------------------------------------*/
.main h1{
    margin-top: 30px;
    margin-left: 130px;
    color: aliceblue;
    float: left;
}
  .main button{
  gap: 8px;
    float: right;
    margin-top:30px ;
    border-radius: 18px;
    text-align: center;
      justify-content: space-between;
    border: none;
      margin-right: 90px;
      margin-left: -30px;
    
}  
.m2,
.m3{ 
    height: 30px;
    width: 80px;
      background-color: #535C91;

}
.m1{
     height: 30px;
        width: 50px;
    background-color: #FF7D29;
    
}


/*-----------------------------------------------------------------*/
.fa-squarespace{
 background-color: rgba(71, 240, 226, 0.425);
 text-align: center;
 padding-top: 14px;
 font-size: 26px;
    float: left;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border-radius: 17px;
}
.d1{
    
    height: 150px;
    width: 300px;
    background-color: #535C91;
    border-radius: 10px;
    margin-top: 30px;
    border:2px solid rgb(142, 157, 234);
    padding: 20px;
}
.container1{
      
    background-color: #1B1A55;
    display: flex;
    width: 80%;
    height: 140vh;
  
    justify-content: space-evenly;
    flex-wrap: wrap;
  margin: 0 auto;
    /* main */
    
}   
.d1 button{
    font-size: 20px;
    border-radius: 17px;
    width: 80px;
    height: 40px;
    margin-top: 30px;
    background-color: #535c913e;
    border-color: azure;
}
.toggol{
    color:#FF7D29;
    font-size: 35px;
    float: right;
     margin-top: 30px;
}
